<!--index.html-->

<!--Embed the header.html template at this location-->
{{ template "header.html" .}}

<title>{{ .Title }}</title>
<h1>Hostname {{ .Hostname }}</h1>
<p>Started at {{ .TimeStart }}</p>
<p>Time now {{ .TimeNow }} </p>
<h2>Software Version</h2>

<p>Build Time : {{ .BuildTime }}</p>
<p>Version : {{ .Version }}</p>
<p>Repository : {{ .Repo }} </p>
<p>Commit Id : {{ .ShortCommit }} Full {{ .LongCommit }}</p>


<!--Embed the footer.html template at this location-->
{{ template "footer.html" .}}